.weather-app-wrap {
  max-width: 1000px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-form {
  text-align: right;
}

.search-button {
  position: relative;
  bottom: 37px;
}

.current-button {
  position: relative;
  bottom: 37px;
}

.current-time {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

.temp {
  margin: 0 auto;
}

li {
  list-style: none;
}

.wind-info {
  margin-left: 780px;
  position: relative;
  bottom: 95px;
}

.weather-forcast {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #feffdf;
  text-align: center;
  width: 800px;
  height: 150px;
  margin: 0 auto;
  padding: 20px;
}
