.weather-app-wrap {
  max-width: 1000px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 500px;
}

.search-form {
  text-align: right;
}

.search-button {
  position: relative;
  bottom: 37px;
}

.current-button {
  position: relative;
  bottom: 37px;
}

.current-time {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

.temp {
  margin: 0 auto;
}

li {
  list-style: none;
}

.wind-info-container {
  margin: 150px 0;
}

.wind-info {
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 200px;
  height: 95px;
}

.weekday {
  border: 2px solid rgba(255, 154, 60, 0.8);
  border-radius: 10px;
  position: relative;
  bottom: 240px;
  left: 400px;
}
